/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
* {
    margin: 0;
    padding: 0;
}
input,
button {
    border: 0;
    outline: none;
}
img {
    vertical-align: middle;
}
/* 字体 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3a2xdr');
    src:  url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3a2xdr') format('truetype'),
      url('../fonts/icomoon.woff?3a2xdr') format('woff'),
      url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* 头部部分 start */

/* 顶部快捷导航 */
.shortcut {
    height: 31px;
    background-color: #F1F1F1;
    line-height: 31px;
}
.fr ul {
    position: relative;
}
.fl ul li {
    float: left;
}
.fl ul li .red {
    color: #c81623;
}
.fr ul li {
    float: left;
    padding: 0 5px;
    line-height-step: 31px;
}
/* 我的品优购的下拉菜单 start 做js */
.fr ul li .myPYG {
    display: none;
    height: 161px;
    width: 280px;
    background-color: #fff;
    position: absolute;
    left: 75px;
    top: 30px;
    z-index: 999;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: 0;
    overflow: hidden;
}
.fr ul li .myPYG .myPYG-item1 {
    height: 92px;
    width: 100%;
    padding: 10px 0 0 15px;
    border-bottom: 1px solid #ccc;
}
.fr ul li .myPYG .myPYG-item2 {
    padding-left: 15px;
}
.fr ul li .myPYG .myPYG-item1 ul,
.fr ul li .myPYG .myPYG-item2 ul {
    float: left;
    width: 120px;
}
.fr ul li .myPYG .myPYG-item1 li,
.fr ul li .myPYG .myPYG-item2 li {
    float: none;
}
/* 我的品优购的下拉菜单 end 做js */

/* 企业采购下拉菜单 start 做js */
.fr ul li .buy {
    display: none;
    width: 157px;
    height: 94px;
    position: absolute;
    background-color: #fff;
    top: 30px;
    left: 268px;
    box-sizing: border-box;
    padding: 5px 0 10px 15px;
    z-index: 999;
    border: 1px solid #ccc;
    border-top: 0;
}
.fr ul li .buy ul {
    float: left;
    margin-right: 10px;
}
.fr ul li .buy ul li {
    float: none;
}
/* 企业采购下拉菜单 end 做js */
.fr ul .space {
    width: 1px;
    height: 14px;
    background-color: #ccc;
    margin: 8px 8px;
    padding: 0;
}
.fr ul li span {
    font-family: 'icomoon';
    font-size: 14px;
    color: #666666;
    margin-left: 5px;
    line-height: 14px;
}
/* 顶部快捷导航 end */

/* 搜索部分 start */
.middle {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #B1191A;
    margin-bottom: 10px;
}
.middle .logo-search {
    height: 100%;
    padding-top: 25px;
    position: relative;
}
.middle .logo-search .logo-search-t{
    height: 80px;
    width: 100%;
}
.middle .logo-search .logo-search-b {
    height: 45px;
    width: 100%;
}
.middle .logo {
    margin-left: 5px;
}
.middle .logo a {
    display: block;
    width: 175px;
    height: 56px;
    background-image: url(../img/logo.png);
}
.middle .logo-search .search {
    width: 538px;
    height: 36px;
    border: 2px solid #B1191A;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    left: 346px;
}
.middle .logo-search .search input,
.middle .logo-search .search button {
    float: left;
}
.middle .logo-search .search input {
    width: 456px;
    height: 32px;
    font-size: 14px;
    text-indent: 5px;
}
.middle .logo-search .search button {
    width: 78px;
    height: 32px;
    background-color: #B1191A;
    line-height: 32px;
    color: #fff;
    font-size: 16px;
}
.middle .logo-search .hotword {
    width: 500px;
    height: 12px;
    position: absolute;
    top: 65px;
    left: 346px;
}
.middle .logo-search .hotword a {
    margin-right: 20px;
    color: #ccc;
}
.middle .logo-search .shop-car {
    position: relative;
    width: 140px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    position: absolute;
    top: 25px;
    left: 997px;
    background-color: #f7f7f7;
}
.middle .logo-search .shop-car i {
    position: absolute;
    width: 19px;
    height: 13px;
    background: url(../img/icons.png) no-repeat -416px -90px;
    top: 10px;
    left: 19px;
}
.middle .logo-search .shop-car a {
    display: block;
    width: 60px;
    margin: 8px auto;
}
.middle .logo-search .shop-car span {
    font-family: 'icomoon';
    color: #ccc;
    position: absolute;
    top: 8px;
    left: 102px;
    font-size: 14px;
}
.middle .logo-search-b .classify,
.middle .logo-search-b .nav {
    float: left;
    line-height: 45px;
}
.middle .logo-search .logo-search-b .classify {
    width: 209px;
    height: 45px;
    background-color: #B1191A;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.middle .logo-search-b .classify ul {
    width: 209px;
    height: 466px;
    background-color: #C81623;
    line-height: 30px;
}
/* 给分类添加过渡效果 */
.middle .logo-search-b .classify ul li {
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 14px;
   transition: all 0.5s;
}
.middle .logo-search-b .classify ul li:hover {
    background-color: #fff;
    padding-left: 20px;
}
.middle .logo-search-b .classify ul li:hover a {
    color: #C81623;
}
.middle .logo-search-b .classify ul li a{
    font-size: 14px;
    color: #fff;
}
.middle .logo-search-b .classify ul li span {
    float: right;
}
.middle .logo-search .logo-search-b .nav ul {
    padding-left: 40px;
}
.middle .logo-search-b .nav ul li{
    float: left;
    margin-right: 46px;
}
/* 搜索部分 end */

/* 头部部分 end */

/* 底部部分 start */

footer {
    margin-top: 20px;
    width: 100%;
    height: 417px;
    background-color: #F5F5F5;
}
.box .box-top {
    height: 108px;
    border-bottom: 1px solid #ccc;
}
.box .box-top ul {
    height: 108px;
    padding-top: 32px;
}
.box .box-top li {
    width: 270px;
    font-size: 14px;
    padding-left: 90px;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-right: 30px;
}
.box .box-top li::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: url(../img/icons.png) no-repeat -253px -3px;
    left: 34px;
    top: -3px;
}
.box .box-middle {
    height: 186px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    position: relative;
}
.box .box-middle dl {
    width: 200px;
    height: 100%;
    float: left;
}
.box .box-middle dl dt {
    font-size: 16px;
    color: #333333;
    line-height: 30px;
}
.box .box-middle dl dd {
    font-size: 12px;
    line-height: 20px;
    color: #666666;
}
.box .box-middle .scan {
    position: absolute;
    width: 155px;
    height: 160px;
    top: 20px;
    right: 48px;
    text-align: center;
}
.box .box-middle .scan h3 {
    font-size: 16px;
    color: #333333;
    height: 30px;
}
.box .box-middle .scan img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto 5px;
}
.box .box-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    line-height: 30px;
}
.box .box-bottom a {
    margin-right: 5px;
}
.box .box-bottom span {
    line-height: 20px;
    display: inline-block;
}

/* 底部部分 ens */